{% extends "common/admin.html" %}
{% block body1 %}
<div class="h1 text-primary">User</div>
<div class="row overflow-auto p-3 m-2">
    <div class="col-lg-12">
        <table class="table table-light table-striped shadow-lg mt-3" style="text-transform:capitalize">
            <tr>
                <th>Name</th>
                <th>Mobile</th>
                <th>Email</th>
                <th>Status</th>
            </tr>
            {% for i in obj %}
            <tr >
                <td>{{i.username}}</td>
                <td>{{i.mobile}}</td>
                <td>{{i.email}}</td>
                <td>{{i.password}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}